:root {
  --ifm-color-primary: #53ac67;
  --ifm-color-primary-dark: #4b9b5d;
  --ifm-color-primary-darker: #479258;
  --ifm-color-primary-darkest: #3a7848;
  --ifm-color-primary-light: #64b476;
  --ifm-color-primary-lighter: #6db87e;
  --ifm-color-primary-lightest: #87c595;
}

[data-theme='dark'] {
  --ifm-color-primary: #53ac67;
  --ifm-color-primary-dark: #4b9b5d;
  --ifm-color-primary-darker: #479258;
  --ifm-color-primary-darkest: #3a7848;
  --ifm-color-primary-light: #64b476;
  --ifm-color-primary-lighter: #6db87e;
  --ifm-color-primary-lightest: #87c595;
  --ifm-background-color: #1e2029;
}
